.content {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.form {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
}

.form-left-side {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-right: 7rem;
}

.form-right-side{
    margin-top: 20px;
}

.form-right-side label{
    font-size: 1.2em;
}

.form-right-side select{
    width: 15rem;
}



.input-div-wrapper {
    margin-top: 20px;
}

.input-div-wrapper input[type='text'],
.input-div-wrapper input[type='date'],
.input-div-wrapper input[type='number'] {
    width: 90%;

}


.input-div-wrapper label {
    font-size: 1.2em;
}

.form-bottom-div {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
    display: grid;
    justify-content: end;
}

.buttons-above-form-wrapper {
    display: flex;
    justify-content: end;
    padding-right: 4rem;
}

.buttons-above-form-wraper div {
    margin-left: 20px;
}

.buttons-above-form-wraper form {
    width: min-content;
}


/* CSS */
.btn-delete {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 15px;
    font-weight: 50;
    line-height: 5px;
    margin-left: 2rem;
    min-height: 20px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn-delete:hover,
.btn-delete:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.btn-delete:active {
    opacity: .5;
}

.btn-cancel {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.btn-cancel:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn-cancel:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.btn-cancel:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn-cancel:focus {
    outline: 1px transparent;
}

.btn-cancel:before {
    display: none;
}

.btn-cancel::-webkit-details-marker {
    display: none;
}

.form-button-wrapper{
    margin-right: 5em;
}
